<%= form_for @call_record = CallRecord.new, url: remote_create_call_records_path(project_id: project.id), remote: true, html: { id: "new_call_record_#{project.id}" } do |f| %>
    <div class="row">
        <div class="col-2 form-group">
            <%= f.label :name %><span class="text-red">*</span>
            <%= f.text_field :name, required: true, class:'form-control' %>
        </div>
        <div class="col-2 form-group">
            <%= f.label :phone %><span class="text-red">*</span>
            <%= f.text_field :phone, required: true, class:'form-control' %>
        </div>
        <div class="col-4 form-group">
            <%= f.label :company %>
            <%= f.text_field :company, class:'form-control' %>
        </div>
        <div class="col-2 form-group">
            <%= f.label :title %>
            <%= f.text_field :title, class:'form-control' %>
        </div>
        <div class="col-2">
            <%= label_tag :space, '&nbsp;'.html_safe %><br>
            <%= button_tag class: 'btn btn-sm btn-submit w-100' do %>
                <i class="fa fa-phone"></i> <%= "#{t('action.new_model', model: mt(:call_record))}" %>
            <% end %>
        </div>
    </div>
<% end %>