<ul class="nav nav-tabs">
    <li class="nav-item">
        <%= link_to costs_path, class: "nav-link #{active == 1 ? 'active' : ''}" do %>
            <i class="fa fa-table"></i> <%= mt(:cost_summary) %>
        <% end %>
    </li>
    <li class="nav-item">
        <%= link_to summary_chart_costs_path, class: "nav-link #{active == 2 ? 'active' : ''}" do %>
            <i class="fa fa-bar-chart"></i> <%= '统计图' %>
        <% end %>
    </li>
    <li class="nav-item">
        <%= link_to v_types_costs_path, class: "nav-link #{active == 3 ? 'active' : ''}" do %>
            <i class="fa fa-th-list"></i> <%= '成本类型' %>
        <% end %>
    </li>
</ul>