<%= render partial: 'costs/widgets/nav', locals: { active: 2 } %>

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-3 col-12">
                <%= form_tag request.path, :method => :get do %>
                    <div class="form-group">
                        <%= label_tag :year, t('dashboard.statistical_year') %>
                        <%= select_tag :year, options_for_select(@year_options, params[:year]), :class => 'form-control select2' %>
                    </div>
                    <div class="form-group">
                        <%= submit_tag t('action.submit'), class: 'btn btn-submit' %>
                    </div>
                <% end %>
            </div>
            <div class="col-lg-9 col-12">
                <div id="bar_chart" style="height: 480px;">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        let bar_chart = echarts.init(document.getElementById('bar_chart'), 'default');
        let data = [
            <% @result.each do |res| %>
                {
                    name: '<%= res[:name] %>',
                    type: 'bar',
                    <% if res[:stack].present? %>
                    stack: '<%= res[:stack] %>',
                    barWidth: 4,
                    <% else %>
                    barWidth: 36,
                    label: {
                        show: true,
                        position: 'top'
                    },
                    <% end %>
                    data: <%= res[:data].to_s.html_safe %>
                },
            <% end %>
        ];

        let option = {
            title: {
                text: '<%= @year %>年成本结算',
                subtext:  'Monthly Statistics - RMB'
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'shadow'
                }
            },
            legend: {
                data: <%= @result.map{|item| item[:name]}.to_s.html_safe %>,
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: [
                {
                    type: 'category',
                    data: <%= @x_axis.to_s.html_safe %>
                }
            ],
            yAxis: [
                {
                    type: 'value'
                }
            ],
            series: data
        };

        bar_chart.setOption(option);
    });
</script>