<%= model_error_tag(@call_record) %>

<div class="row">
    <div class="col-12 form-group">
        <span class="badge badge-light"><%= show_creator(@call_record) %></span>
        <span class="badge badge-light"><%= show_timestamps(@call_record) %></span>
        <%= link_to "#{mt(:call_record, :project)}: ##{@call_record.project.uid} #{@call_record.project.name}", project_path(@call_record.project_id), :target => '_blank', :class => 'badge badge-light' if @call_record.project_id.present? %>
        <%#= link_to "#{mt(:call_record, :candidate)}: ##{@call_record.candidate.uid} #{@call_record.candidate.name}", candidate_path(@call_record.candidate_id), :target => '_blank', :class => 'badge badge-light' if @call_record.candidate_id.present? %>
    </div>
</div>
<div class="row">
    <div class="col-3 form-group">
        <%= label_tag :project_id, mt(:project) %><span class="text-red">*</span>
        <%= f.select :project_id, project_options, { include_blank: default_prompt }, onchange: "loadProjectRequirements(this.value);", class: 'form-control select2', required: true %>
    </div>
    <div class="col-9 form-group">
        <%= label_tag :project_requirement_id, mt(:project_requirement) %><span class="text-red">*</span>
        <% if @call_record.project_id.present? %>
            <%= f.select :project_requirement_id, @call_record.project.project_requirements.order(id: :asc).map{|item| [item.title, item.id]}, { include_blank: default_prompt }, class: 'form-control select2', required: true %>
        <% else %>
            <%= f.select :project_requirement_id, [], { include_blank: default_prompt }, class: 'form-control select2', required: true %>
        <% end %>
    </div>
    <%= f.hidden_field :candidate_id %>
    <%= f.hidden_field :category %>
</div>

<div class="row">
    <div class="col-3 form-group">
        <%= f.label :name %><span class="text-red">*</span>
        <%= f.text_field :name, :required => true, :class => 'form-control' %>
    </div>
    <div class="col-3 form-group">
        <%= f.label :phone %>
        <%= f.text_field :phone, :class => 'form-control' %>
    </div>
    <div class="col-3 form-group">
        <%= f.label :company %>
        <%= f.text_field :company, :class => 'form-control' %>
    </div>
    <div class="col-3 form-group">
        <%= f.label :department %>
        <%= f.text_field :department, class: 'form-control' %>
    </div>
    <div class="col-3 form-group">
        <%= f.label :title %>
        <%= f.text_field :title, :class => 'form-control' %>
    </div>
    <div class="col-3 form-group">
        <%= f.label :status %>
        <%= f.select :status, CallRecord::STATUS.to_a.map(&:reverse), { :include_blank => false }, :class => 'form-control select2' %>
    </div>

    <div class="col-12 form-group">
        <%= f.label :memo %>
        <%= f.text_area :memo, :rows => 5, :class => 'form-control' %>
    </div>
</div>
<script>
    $(function() {
        $('select#project_id').change();
    })
</script>