<div class="card">
    <div class="card-header">
        <h5><%= fa_icon_tag('exchange') %> <%= t(:change_operator) %></h5>
        <%= link_to fa_icon_tag('close'), return_to(call_records_path), :class => 'card-header-close' %>
    </div>

    <div class="card-body">
        <%= form_for @call_record, :url => update_operator_call_record_path(@call_record), :method => :put do |f| %>
            <%= model_error_tag(@call_record) %>
            <div class="row">
                <div class="col-6 form-group">
                    <%= f.label :operator %>
                    <%= f.select :operator_id, call_record_operator_options, { :include_blank => false }, :class => 'form-control select2' %>
                </div>
            </div>

            <div class="form-group mb-0">
                <%= f.submit t('action.submit'), :class => 'btn btn-submit' %>
                <%= link_to t('action.back'), return_to(call_records_path), :class => 'btn btn-back' %>
            </div>
        <% end %>
    </div>
</div>
