<div id="app">
    <div class="card p-2 d-flex flex-row mb-1 justify-content-between">
        <div>
            <%= link_to new_candidate_path, class: 'btn btn-primary' do %>
                <%= fa_icon_tag('plus') %> <%= "#{t('action.new_model', :model => mt(:expert))}" %>
            <% end if can?(:new, Candidate) %>
            <%= render :partial => 'candidates/widgets/btn_import_expert' %>
            <%= render :partial => 'candidates/widgets/batch_update_file' %>
            <%= render :partial => 'candidates/widgets/expert_card', :locals => { :uid => nil } %>
            <%= render :partial => 'candidates/widgets/add_to_project_modal', :locals => { :uid => nil} %>
        </div>
        <div>
            <%= render :partial => 'candidates/widgets/show_history' %>
        </div>
    </div>

    <el-card v-for="candidate in candidates" :key="candidate.id" class="box-card mb-1">
        <el-row :gutter="5">
            <el-col :lg="8" :md="24">
                <div class="d-flex flex-column flex-lg-row align-items-center mb-1">
                    <!--
                    <div class="candidate-checkbox">
                        <%#= check_box_tag :'uids[]', candidate.id, false, :class => 'checkbox-square' %>
                    </div>
                    -->
                    <div class="text-center mr-3 mb-1 mb-lg-0">
                        <span class="text-smaller text-gray">{{ `# ${candidate.uid}` }}</span>
                    </div>
                    <div class="text-center mr-3 mb-1 mb-lg-0">
                        <div class="d-inline mr-2">
                            <%#= render partial: 'candidates/widgets/is_available_dropdown', locals: { candidate: candidate } %>
                        </div>
                        <%#= link_to candidate_path(candidate), :target => '_blank' do %>
                            <span>{{ candidate.name }}</span>
                        <%# end %>
                    </div>
                </div>
            </el-col>
            <el-col :lg="8" :md="24">
                {{ candidate }}
            </el-col>
            <el-col :lg="8" :md="24"></el-col>
        </el-row>
    </el-card>


</div>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            candidates: [],
            search_form: {
                page: 1,
                per_page: 10,
                total: 0,
                _k: 'name',
                _v: '',
            }
        },
        mounted: function(){
            this.$nextTick(function(){
                console.log('candidates.v_index mounted')
                this.load_candidates()
            }) 
        },
        methods: {
            load_candidates () {
                let loading = this.$loading()
                let _this_ = this;
                let params = { 
                    page: this.search_form.page,
                    per_page: this.search_form.per_page,
                }
                $.get('/candidates/v_index_data', params, function (res) {
                    _this_.candidates = res.data.candidates
                    _this_.search_form.total = res.data.total
                    loading.close()
                })
            },
            handle_page_change () {
                this.load_candidates()
                window.scrollTo({ top: 0, behavior: 'smooth' })
            },
        }
    })
</script>

<style>
    .el-card__body {
        padding: 0.5rem 1rem;
    }
</style>