<div id="app">
    <div class="card p-2 d-flex flex-row mb-1 justify-content-between">
        <div>
            <%= link_to new_candidate_path, class: 'btn btn-primary' do %>
                <%= fa_icon_tag('plus') %> <%= "#{t('action.new_model', :model => mt(:expert))}" %>
            <% end if can?(:new, Candidate) %>
            <%= render :partial => 'candidates/widgets/btn_import_expert' %>
            <%= render :partial => 'candidates/widgets/batch_update_file' %>
            <%= render :partial => 'candidates/widgets/expert_card', :locals => { :uid => nil } %>
            <%= render :partial => 'candidates/widgets/add_to_project_modal', :locals => { :uid => nil} %>
        </div>
        <div>
            <%= render :partial => 'candidates/widgets/show_history' %>
            <%= render :partial => 'shared/per_page_select' %>
            <%#= render :partial => 'candidates/widgets/search_modal' %>
        </div>
    </div>
</div>