<%= render partial: 'utils/loading_modal' %>
<% if @projects.present? %>
    <div class="row mb-2" id="workboard">
        <div class="col-2 pr-0">
            <ul class="nav nav-tabs-column flex-column">
                <% @projects.each_with_index do |project, index| %>
                    <li class="nav-item">
                        <a class="nav-link <%= index.zero? ? 'active' : '' %>" data-toggle="tab" href="#project_<%= project.id %>" onclick="loadProjectCallRecords(<%= project.id %>);">
                            <div class="text-smaller" title="<%= project.name %>"><%= truncate("#{project.code} #{project.name}", length: 19) %></div>
                            <div class="text-gray text-smaller d-flex justify-content-between">
                                <span><%= "# #{project.uid}" %></span>
                                <span><%= project.created_at.strftime('%F %T') %></span>
                            </div>
                        </a>
                    </li>
                <% end %>
            </ul>
        </div>
        <div class="col-10 pl-0">
            <!-- Tab panes -->
            <div class="tab-content">
                <% @projects.each_with_index do |project, index| %>
                    <div id="project_<%= project.id %>" class="container-fluid bg-white tab-pane <%= index.zero? ? 'active' : '' %>">
                        <div class="tab-header">
                            <h3 class="mb-0"><%= "#{project.code} #{project.name}" %></h3>
                            <%= link_to 'javascript:void(0);', onclick: "utilsLoadingModal({op: 'newCallRecord', project_id: #{project.id}})", class: 'btn btn-sm btn-primary' do %>
                                <%= fa_icon_tag('plus') %> <%= "#{t('action.new_model', :model => mt(:call_record))}" %>
                            <% end %>
                        </div>

                        <div class="tab-body">
                            <%= render partial: 'call_records/remote_index', locals: { call_records: project.call_records } if index.zero? %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>

    <%= will_paginate @projects %>
<% else %>
    <div class="card p-2">
        <div class="p-4 text-center">
            <h5 class="text-gray mb-0"><%= t(:not_found) %></h5>
        </div>
    </div>
<% end %>