<div class="card">
    <div class="card-header">
        <h5><%= model_icon('Hospital') %> <%= mt(:hospital) %></h5>
        <%= link_to fa_icon_tag('close'), hospitals_path, :class => 'card-header-close' %>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-12 d-flex flex-column flex-lg-row justify-content-between">
                <h6>
                    <span class="text-gray mr-3"><%= "# #{@hospital.uid}" %></span>
                    <span><%= @hospital.name %></span>
                </h6>
            </div>

            <div class="col-12 form-group">
                <span class="badge badge-primary"><%= @hospital.province %></span>
                <span class="badge badge-danger"><%= @hospital.level %></span>
                <span class="badge badge-light"><%= show_timestamps(@hospital) %></span>
            </div>
        </div>

        <div class="row" id="v-departments">
            <div v-for="dept in departments" :key="dept.name" class="col-4">
                <div class="ctag">
                    <div class="ctag-item teal f-2">{{ dept.name }}</div>
                    <div class="ctag-item text-bold">{{ dept.count }}</div>
                    <div class="ctag-item f-0">
                        <a :href="['/doctors?org_cn=' + hospital.name + '&department=' + dept.name]" class="text-decoration-none" target="_blank">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var vm = new Vue({
        el: '#v-departments',
        data: {
            hospital: { id: '<%= @hospital.id %>', name: '<%= @hospital.name %>' },
            departments: []
        },
        mounted: function(){
            this.$nextTick(function(){
                var _this_ = this;
                // 加载部门数据
                $.get('/hospitals/'+ _this_.hospital.id + '/load_departments', function(data){
                    _this_.departments = data;
                    console.log('load departments data:ok')
                })
            })
        }
    })
</script>