<%= render partial: 'kpi_summaries/widgets/nav', locals: { active: 1 } %>

<div class="card p-2 mb-2">
    <div class="d-flex flex-row justify-content-between mb-2">
        <%= link_to v_summary_new_kpi_summaries_path, class: 'btn btn-primary' do %>
            <%= t('action.new_model', model: mt(:kpi_summary)) %> <i class="fa fa-arrow-right"></i>
        <% end if can? :new, Cost %>
    </div>
    <% if @kpi_summaries.present? %>
        <%= will_paginate @kpi_summaries %>
    <% else %>
        <div class="p-4 text-center">
            <h5 class="text-gray mb-0"><%= t(:not_found) %></h5>
        </div>
    <% end %>
</div>